/** FONT IMPORT  **/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Montserrat:wght@300;400;700&display=swap');

/** RESET STYLE  **/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/** COLOR AND FONT VARIABLES  **/
:root {
    --primary-color: #f7f3e9;
    --secondary-color: #a3d2ca;
    --third-color: #5eaaa8;
    --fourth-color: #f05945;
    --fifth-color: #ff8474;

    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Crimson Text', serif;
}


/** INITIAL STYLES **/



html {
    font-size: 10px;
}

body {
    font-family: var(--primary-font);
}

html, body {
    height: 100%;
    width: 100%;
}

section {
    min-height: 100vh;
}

footer, section::before {
    display: block;
    content: "";
    height: 1rem;
    margin-top: 1rem;
}

/** HAMBURGER MENU STYLE  **/

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


/**  SHOPPING LIST STYLES  **/

.shoppingList {
position: absolute;
top: 2.7rem;
left: -23rem;
min-width: 50rem;
min-height: 40rem;
border-radius: 1rem;
visibility: hidden;
opacity: 0;
transition: visibility 0s, opacity 0.2s ease-in-out;
background: white;
overflow: hidden;
z-index: 150;
}
 /** HOVER ON SHOPPING CART  **/  
.showShoppingList:hover .shoppingList {
    visibility: visible;
    opacity: 1;
}



/** SHOPPING CARD RESPONSIVENESS  **/
@media screen and (max-width: 526px) {
    .shoppingList {
        left: -17rem;
        min-width: 40rem;
        min-height: 20rem;
    }

}

@media screen and (max-width: 411px) {
    .shoppingList {
        left: -13rem;
        min-width: 36rem;
        min-height: 20rem;
    }
}

    
@media screen and (max-width: 375px) {
    .shoppingList {
        left: -8rem;
        min-width: 31rem;
        min-height: 20rem;
    }

}